.footer-w.mt-4
    .fade3
    .os-container
        .footer-i
            .row
                .col-sm-7.col-lg-5.b-r.padded
                    img.mb-5(src='/assets/img/hungrdeals2.png' style='width: 40px')
                    h3.heading-big
                        | HUNGRDEALS
                    h6.heading-small
                        | the ultimate food finder
                    p
                        | Hungry for deals nearby? Seize your wallet & get on Hungrdeals! At one click away, Australia’s #1 affordable food catalogue will ease your day.
                .col-sm-5.col-lg-7
                    .row
                        .col-lg-6.b-r.padded
                            h6.heading-small
                                | AND MORE
                            ul.social-links.more-links
                                li
                                    a(href='/about')
                                        | About Us
                                li
                                    a(href='/help')
                                        | Contact Us
                                li
                                    a(href='/help')
                                        | Help
                                li
                                    a(href='/help')
                                        | FAQ





                        .col-lg-6.padded
                            h6.heading-small
                                | Connect with Us
                            ul.social-links
                                li
                                    a(href='https://www.instagram.com/hungrdeals/').text-white
                                        i.fab.fa-instagram
                                li
                                    a(href='https://www.linkedin.com/company/hungrdeals/').text-white
                                        i.fab.fa-linkedin
        .deep-footer
            | Use of this site constitutes acceptance of our&ensp;
            a(href='/term') Terms and Conditions
            |  and&ensp;
            a(href='/policy') Privacy Policy
            | . &copy; 2017 hungrdeals.com All rights reserved.
