doctype html
head
    title Hungrdeals
    meta(charset='utf-8')
    meta(content='ie=edge' http-equiv='x-ua-compatible')
    meta(content='template language' name='keywords')
    meta(content='Tamerlan Soziev' name='author')
    meta(content='Admin dashboard html template' name='description')
    meta(content='width=device-width, initial-scale=1' name='viewport')

    link(href='/favicon.png' rel='shortcut icon')
    link(href='/apple-touch-icon.png' rel='apple-touch-icon')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900' rel='stylesheet')

    link(href='/assets/vendor/select2/dist/css/select2.min.css' rel='stylesheet')
    link(href='/assets/vendor/bootstrap-daterangepicker/daterangepicker.css' rel='stylesheet')
    link(href='/assets/vendor/dropzone/dist/dropzone.css' rel='stylesheet')
    link(href='/assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css' rel='stylesheet')
    link(href='/assets/vendor/fullcalendar/dist/fullcalendar.min.css' rel='stylesheet')
    link(href='/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' rel='stylesheet')
    link(href='/assets/vendor/slick-carousel/slick/slick.css' rel='stylesheet')
    link(href='/assets/vendor/ion.rangeSlider/css/ion.rangeSlider.css' rel='stylesheet')
    link(href='/assets/vendor/bower_components/select2/dist/css/select2.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
    link(href='/assets/vendor/button-loader/buttonLoader.css' rel='stylesheet')
    link(rel='stylesheet' href='https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css')

    link(href='/assets/vendor.css' rel='stylesheet')
    script(src='/assets/vendor/jquery/dist/jquery.min.js')


body.full-screen.menu-position-top(class=[mainPage && 'with-content-panel'])
