doctype html
head
    title Hungrdeals
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='keywords' content='')
    meta(name='author' content='')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600' rel='stylesheet')
    link(rel='stylesheet' href='/assets/vendor/about/css/bootstrap.css')
    link(rel='stylesheet' href='/assets/vendor/about/css/animate.css')
    link(rel='stylesheet' href='/assets/vendor/about/css/owl.carousel.min.css')
    link(rel='stylesheet' href='/assets/vendor/about/css/magnific-popup.css')
    link(rel='stylesheet' href='/assets/vendor/about/css/aos.css')
    link(rel='stylesheet' href='/assets/vendor/about/css/bootstrap-datepicker.css')
    link(rel='stylesheet' href='/assets/vendor/about/css/jquery.timepicker.css')
    link(rel='stylesheet' href='/assets/vendor/about/fonts/ionicons/css/ionicons.min.css')
    link(rel='stylesheet' href='/assets/vendor/about/fonts/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/assets/vendor/about/fonts/flaticon/font/flaticon.css')
    link(href='/assets/vendor/button-loader/buttonLoader.css' rel='stylesheet')
    link(href='/assets/vendor/toast/minified/css/iao-alert.min.css' rel='stylesheet')

    // Theme Style
    link(rel='stylesheet' href='/assets/vendor/about/css/style.css')
    script(src='/assets/vendor/about/js/jquery-3.2.1.min.js')
    script(src='/assets/vendor/toast/minified/js/iao-alert.jquery.min.js')
    script(src='/assets/vendor/button-loader/jquery.buttonLoader.min.js')
.site-wrap
    nav#ftco-navbar-spy.site-menu
        #ftco-navbar.site-menu-inner
            ul.list-unstyled
                li
                    a(href='#section-home') Home
                li
                    a(href='#section-service') Service
                li
                    a(href='#section-about') About Us
                li
                    a(href='#section-review') Review
                li
                    a(href='#section-contact') Contact
    header.site-header
        .row.align-items-center
            .col-4.col-md-3
            .col-4.col-md-6.text-center.site-logo-wrap
                a.site-logo(href='/' style='border: none; background: transparent')
                    img(src='/assets/img/hungrdeals2.png' style='width: 60px;')
            .col-4.col-md-3.text-right.menu-burger-wrap
                a.site-nav-toggle.js-site-nav-toggle(href='#')
                    i
    // site-header
    #section-home.main-wrap
        .cover_1.overlay.bg-slant-white.bg-light
            .img_bg(style='background-image: url(/assets/vendor/about/images/slider-1.jpg);' data-stellar-background-ratio='0.5')
                .container
                    .row.align-items-center.justify-content-center.text-center
                        .col-md-10.mt-3(data-aos='fade-up')
                            h2.heading.mb-5 Welcome to Hungrdeals!
                            p.sub-heading.mb-5
                                | The ultimate food finder. We bring affordable flavours to you.
                            p
                                a.smoothscroll.btn.btn-outline-white.px-5.py-3(href='/')
                                    i.fa.fa-arrow-right
                                    | &ensp;Go to Hungrdeals&ensp;
                                    i.fa.fa-arrow-left

        // .cover_1
        #section-service.section(data-aos='fade-up')
            .container
                .row.section-heading.justify-content-center.mb-5
                    .col-md-8.text-center
                        h2.heading.mb-3 FIND YOUR SOUL IN FOOD
                        p.sub-heading.mb-5
                            | Get all your special deals at&ensp;
                            a(href='/') hungrdeals.com
                .row.d-sm-flex.d-none
                    .ftco-46
                        .ftco-46-row.d-flex.flex-column.flex-lg-row
                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/img_1.jpg);')
                            .ftco-46-text.ftco-46-arrow-left
                                h4.ftco-46-subheading Daily deals
                                h3.ftco-46-heading Weekly Specials
                                p.mb-5
                                    | Whether you’re at work or home, find your nearest meals on specials from Monday-Sunday
                                p.mb-0
                                    a.btn-link(href='/Weekday Specials/All Weekday Specials')
                                        | Weekday Specials
                                        span.ion-android-arrow-forward
                                p
                                    a.btn-link(href='/Weekend Deals/All Weekend Deals')
                                        | Weekend Specials
                                        span.ion-android-arrow-forward

                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/happy.jpg);')
                        .ftco-46-row.d-flex.flex-column.flex-lg-row
                            .ftco-46-text.ftco-46-arrow-right
                                h4.ftco-46-subheading stay content
                                h3.ftco-46-heading Happy Hour
                                p.mb-5
                                    | Keep aside these couple of hours during the day to indulge the best deals for food and drinks!
                                p
                                    a.btn-link(href='/Happy Hour/All Happy Hours')
                                        | Let's go
                                        span.ion-android-arrow-forward
                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/happy2.jpg);')
                            .ftco-46-text.ftco-46-arrow-up
                                h4.ftco-46-subheading satisfy your day
                                h3.ftco-46-heading Combo
                                p.mb-5
                                    | Instead of enjoying a single dish, order a combined meal for extra treat(s) to make your day.
                                p
                                    a.btn-link(href='/Combo/All Combos')
                                        | Let's go
                                        span.ion-android-arrow-forward
                .row.d-flex.d-sm-none
                    .ftco-46
                        .ftco-46-row.d-flex.flex-column.flex-lg-row
                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/img_1.jpg);')
                            .ftco-46-text.ftco-46-arrow-left
                                h4.ftco-46-subheading Daily deals
                                h3.ftco-46-heading Weekly Specials
                                p.mb-5
                                    | Whether you’re at work or home, find your nearest meals on specials from Monday-Sunday
                                p.mb-0
                                    a.btn-link(href='/Weekday Specials/All Weekday Specials')
                                        | Weekday Specials
                                        span.ion-android-arrow-forward
                                p
                                    a.btn-link(href='/Weekend Deals/All Weekend Deals')
                                        | Weekend Specials
                                        span.ion-android-arrow-forward

                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/happy2.jpg);')
                        .ftco-46-row.d-flex.flex-column.flex-lg-row
                            .ftco-46-text.ftco-46-arrow-right
                                h4.ftco-46-subheading stay content
                                h3.ftco-46-heading Happy Hour
                                p.mb-5
                                    | Keep aside these couple of hours during the day to indulge the best deals for food and drinks!
                                p
                                    a.btn-link(href='/Happy Hour/All Happy Hours')
                                        | Let's go
                                        span.ion-android-arrow-forward
                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/happy.jpg);')
                            .ftco-46-text.ftco-46-arrow-up
                                h4.ftco-46-subheading satisfy your day
                                h3.ftco-46-heading Combo
                                p.mb-5
                                    | Instead of enjoying a single dish, order a combined meal for extra treat(s) to make your day.
                                p
                                    a.btn-link(href='/Combo/All Combos')
                                        | Let's go
                                        span.ion-android-arrow-forward
        .section(data-aos='fade-up')
            .container
                //.row.section-heading.justify-content-center.mb-5
                //    .col-md-8.text-center
                //        h2.heading.mb-3 SHOW THE WORLD
                //        p.sub-heading.mb-5
                //            | Snap a photo of your menu and upload&ensp;
                //            a(href='/') at hungrdeals.com
                .row
                    .ftco-46
                        .ftco-46-row.d-flex.flex-column.flex-lg-row
                            .ftco-46-text.ftco-46-arrow-right
                                h4.ftco-46-subheading AND MORE
                                h3.ftco-46-heading Miscellaneous
                                p.mb-5
                                    | Check out all Homemade Meals, Buffets, Grand Openings, Volunteer4food & Giveaways near your location.
                                p
                                    a.btn-link(href='/Miscellaneous/All Miscellaneous')
                                        | Let's go
                                        span.ion-android-arrow-forward
                            .ftco-46-image(style='background-image: url(/assets/vendor/about/images/img_2.jpg);')
                            .ftco-46-text.ftco-46-arrow-up
                                h4.ftco-46-subheading FOR BUSINESS OWNERS
                                h3.ftco-46-heading Upload your image
                                p.mb-5
                                    | Snap a photo or type in your eateries & drinks on specials / offer and menus. Let’s bring the world of culinary together!
                                p
                                    a.btn-link(href='/register')
                                        | Let's go
                                        span.ion-android-arrow-forward
        // .section
        #section-about.section.pb-3.bg-white(data-aos='fade-up')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-12.col-lg-8.section-heading
                        h2.heading.mb-5 About Us
                        p
                            | Hungrdeals is the one stop for eateries and drinks nearby. Delicacies of all cuisines worldwide. We connect local listings to you through categories that include: Weekday Specials, Weekend Specials, Happy Hour, Combo & Miscellaneous.
                        p
                            | This platform is a safe exchange of information for eateries and drinks only. Please read terms and conditions & privacy policy.
                        .row
                            .col-12.col-md-6.text-center
                                a.btn-link(href='/term')
                                    | Terms and Conditions
                                    span.ion-android-arrow-forward
                            .col-12.col-md-6.text-center
                                a.btn-link(href='/policy')
                                    | Privacy Policy
                                    span.ion-android-arrow-forward
        // .section
        .section.bg-white.pt-2.pb-2.text-center(data-aos='fade')
            p
                img.img-fluid(src='/assets/vendor/about/images/bg_hero.png' alt='')
        // .section
        //.section.bg-white(data-aos='fade-up')
        //    .container
        //        .row.mb-5
        //            .col-md-12.section-heading.text-center
        //                h2.heading.mb-5 Meet Our Team
        //        .row
        //            .col-md-6.pr-md-5.text-center.mb-5
        //                .ftco-38
        //                    .ftco-38-img
        //                        .ftco-38-header
        //                            img(src='/assets/vendor/about/images/ayuni.jpg' alt='')
        //                            h3.ftco-38-heading Ayuni Idris
        //                            p.ftco-38-subheading Chief Executive Officer
        //                        .ftco-38-body
        //                            p
        //                                | Integer efficitur turpis non nulla hendrerit, at condimentum dui mattis. Vivamus non odio nec metus euismod auctor eu at metus. Sed molestie mauris vitae consectetur mollis.
        //                            p
        //                                | Sed ut rhoncus nibh, id tempus sem. Curabitur ac ornare felis, nec porta lorem. Nunc efficitur mattis ex a luctus.
        //                            p
        //                                a.p-2(href='https://www.facebook.com/yunidris')
        //                                    span.fa.fa-facebook
        //                                a.p-2(href='#')
        //                                    span.fa.fa-twitter
        //                                a.p-2(href='#')
        //                                    span.fa.fa-instagram
        //            .col-md-6.pl-md-5.text-center.mb-5
        //                .ftco-38
        //                    .ftco-38-img
        //                        .ftco-38-header
        //                            img(src='/assets/vendor/about/images/kartik.jpg' alt='')
        //                            h3.ftco-38-heading Kartik Tiwari
        //                            p.ftco-38-subheading Chief Executive Officer
        //                        .ftco-38-body
        //                            p
        //                                | Integer efficitur turpis non nulla hendrerit, at condimentum dui mattis. Vivamus non odio nec metus euismod auctor eu at metus. Sed molestie mauris vitae consectetur mollis.
        //                            p
        //                                | Sed ut rhoncus nibh, id tempus sem. Curabitur ac ornare felis, nec porta lorem. Nunc efficitur mattis ex a luctus.
        //                            p
        //                                a.p-2(href='https://www.facebook.com/kartiktiwari90')
        //                                    span.fa.fa-facebook
        //                                a.p-2(href='#')
        //                                    span.fa.fa-twitter
        //                                a.p-2(href='#')
        //                                    span.fa.fa-instagram
                    // <div class="col-md-4"></div>
        // .section
        #section-review.section.bg-light(data-aos='fade-up')
            .container
                .row.section-heading.justify-content-center.mb-5
                    .col-md-8.text-center
                        h2.heading.mb-3 Customer Reviews
                .row.justify-content-center.text-center(data-aos='fade-up')
                    .col-md-8
                        .owl-carousel.home-slider-loop-false
                            .item
                                blockquote.testimonial
                                    p
                                        | &ldquo;Hungrdeals helped me with my weekly budget. Not only cheap, but quality food are offered at food places around me!&rdquo;
                                    .author
                                        img.mb-3(src='/assets/vendor/about/images/person_1.jpg' alt='Image placeholder')
                                        h4 Jennifer Underwood
                                        p Sydney, NSW
                            .item
                                blockquote.testimonial
                                    p
                                        | &ldquo;Never a disappointment when searching food on specials at a weekly basis.&rdquo;
                                    .author
                                        img.mb-3(src='/assets/img/avatar1.jpg' alt='Image placeholder')
                                        h4 Cameron Liberio
                                        p Sydney, NSW
                            .item
                                blockquote.testimonial
                                    p
                                        | &ldquo;Great work. This will be my to-go page for food finder around my location.&rdquo;
                                    .author
                                        img.mb-3(src='/assets/img/avatar2.jpg' alt='Image placeholder')
                                        h4 Nikolaj Lee
                                        p Concord West, NSW
                            .item
                                blockquote.testimonial
                                    p
                                        | &ldquo;Without Hungrdeals, I would not know what specials are near me during my lunch hour at work. Excellent platform.&rdquo;
                                    .author
                                        img.mb-3(src='/assets/vendor/about/images/person_2.jpg' alt='Image placeholder')
                                        h4 Jake Hatmaker
                                        p Sydney, NSW
                            .item
                                blockquote.testimonial
                                    p
                                        | &ldquo;Ever since a colleague told me about Hungrdeals, my daily finds on food at different times of day has never been this easy and quick.&rdquo;
                                    .author
                                        img.mb-3(src='/assets/img/avatar4.jpg' alt='Image placeholder')
                                        h4 Lucie Benevise
                                        p Strathfield, NSW
        // .section
        .section.bg-white.services-section(data-aos='fade-up')
            .container
                .row.section-heading.justify-content-center.mb-5

                .row.section-heading.justify-content-center.mb-2.mt-5
                    .col-md-8.text-center
                        h2.heading.mb-3 Our Mission
                .row.px-lg-5.mb-5
                    .col-12.px-5.col-lg-6.px-lg-3.mb-3(data-aos='fade-up')
                        .media.feature-icon.d-block.text-center
                            .icon
                                img(src='/assets/img/about/food.svg')
                            .media-body
                                h3 Affordability
                                p
                                    | Hungrdeals brings the world’s community together to enjoy eateries and drinks at affordable prices.
                    .col-12.px-5.col-lg-6.px-lg-3.mb-3(data-aos='fade-up' data-aos-delay='100')
                        .media.feature-icon.d-block.text-center
                            .icon
                                img(src='/assets/img/about/restaurant.svg')
                            .media-body
                                h3 Encourage Food Enterprise
                                p
                                    | We initiate all food entrepreneurs (individual and corporate) to grow their business in the culinary sector.
                .row.section-heading.justify-content-center.mb-2.mt-5
                    .col-md-8.text-center
                        h2.heading.mb-3 Our Vision
                .row.px-lg-5.mb-5
                    .col-12.px-5.col-lg-6.px-lg-3.mb-3(data-aos='fade-up')
                        .media.feature-icon.d-block.text-center
                            .icon
                                img(src='/assets/img/about/menu.svg')
                            .media-body
                                h3 Catalogue
                                p
                                    | We bring all food deals, offers and menus at one place. It's easy to sort and browse them on Hungrdeals.
                    .col-12.px-5.col-lg-6.px-lg-3.mb-3(data-aos='fade-up' data-aos-delay='100')
                        .media.feature-icon.d-block.text-center
                            .icon
                                img(src='/assets/img/about/plant.svg')
                            .media-body
                                h3 Eco-Friendly
                                p
                                    | Hungrdeals eliminates food waste worldwide by exchanging information via business to customer.
                .row.section-heading.justify-content-center.mb-2.mt-5
                    .col-md-8.text-center
                        h2.heading.mb-3 Our Value
                .row.px-lg-5
                    .col-12.px-5.col-lg-6.px-lg-3.mb-3.mx-auto(data-aos='fade-up')
                        .media.feature-icon.d-block.text-center
                            .icon
                                img(src='/assets/img/about/groceries.svg')
                            .media-body
                                //h3  Hungrdeals Values in
                                p
                                    | enlightening customers with affordable eateries and drinks around them, subsequently helping food businesses to grow.
                    //.col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='500')
                    //    .media.feature-icon.d-block.text-center
                    //        .icon
                    //            span.flaticon-tray
                    //        .media-body
                    //            h3 Fourth Value
                    //            p
                    //                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    //.col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='300')
                    //    .media.feature-icon.d-block.text-center
                    //        .icon
                    //            span.flaticon-salad
                    //        .media-body
                    //            h3 Fifth Value
                    //            p
                    //                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    //.col-md-6.col-lg-4.mb-5(data-aos='fade-up' data-aos-delay='500')
                    //    .media.feature-icon.d-block.text-center
                    //        .icon
                    //            span.flaticon-chicken
                    //        .media-body
                    //            h3 Sixth Value
                    //            p
                    //                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

        // .section
        #section-contact.section.bg-light(data-aos='fade-up')
            .container
                .row.section-heading.justify-content-center.mb-5
                    .col-md-8.text-center
                        h2.heading.mb-3 Get In Touch
                .row.justify-content-center
                    .col-md-10.p-5.form-wrap
                        form(action='/api/mail/about' method="post")
                            .row.mb-4
                                .form-group.col-md-4
                                    label.label(for='name') Name
                                    .form-field-icon-wrap
                                        span.icon.ion-android-person
                                        input#name.form-control(type='text' name="name")
                                .form-group.col-md-4
                                    label.label(for='email') Email
                                    .form-field-icon-wrap
                                        span.icon.ion-email
                                        input#email.form-control(type='email' name="email")
                                .form-group.col-md-4
                                    label.label(for='phone') Phone
                                    .form-field-icon-wrap
                                        span.icon.ion-android-call
                                        input#phone.form-control(type='text' name="phone")
                                .form-group.col-md-12
                                    label.label(for='message') Message
                                    textarea#message.form-control(name='message' cols='30' rows='10')
                            .row.justify-content-center
                                .col-md-4
                                    input#b-submit.btn.btn-primary.btn-outline-primary.btn-block(type='button' value='Send Message')

        script.
            $(function() {
                $('#b-submit').click(function(event){
                    var button = $('#b-submit')
                    $.ajax({
                        url: '/api/mail/about',
                        data: JSON.stringify({
                            name: $('#name').val(),
                            email: $('#email').val(),
                            phone: $('#phone').val(),
                            message: $('#message').val()
                        }),
                        cache: false,
                        contentType: 'application/json',
                        processData: false,
                        type: 'POST',
                        success: function (data) {
                            button.buttonLoader('stop')
                            $.iaoAlert({
                                msg: 'Message Sent',
                                type: "success"
                            })
                            $('#name').val('')
                            $('#email').val('')
                            $('#phone').val('')
                            $('#message').val('')
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    });
                })
            })

        // .section
        //#map.map-wrap(data-aos='fade')
        footer.ftco-footer
            .container
                .row.pt-5
                    .col-md-12.text-center
                        p
                            | &copy; Copyright 2018. All Rights Reserved.&ensp;
                            a(href='/') hungrdeals.com
    // loader
    #loader.show.fullscreen
        svg.circular(width='48px' height='48px')
            circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
            circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#ff7a5c')

    script(src='/assets/vendor/about/js/jquery-migrate-3.0.1.min.js')
    script(src='/assets/vendor/about/js/popper.min.js')
    script(src='/assets/vendor/about/js/bootstrap.min.js')
    script(src='/assets/vendor/about/js/owl.carousel.min.js')
    script(src='/assets/vendor/about/js/jquery.waypoints.min.js')
    script(src='/assets/vendor/about/js/bootstrap-datepicker.js')
    script(src='/assets/vendor/about/js/jquery.timepicker.min.js')
    script(src='/assets/vendor/about/js/jquery.stellar.min.js')
    script(src='/assets/vendor/about/js/jquery.easing.1.3.js')
    script(src='/assets/vendor/about/js/aos.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
    script(src='/assets/vendor/about/js/main.js')

