include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .auth-box-w.wider.my-5
                    .logo-w(style='padding: 10%')
                        a(href='index.html')
                            //img(alt='' src='/assets/img/logo-big.png')
                    h4.auth-header
                        | Find Password
                    form(action='/auth/password' method='post')
                        .form-group
                            label(for='i-email') Email
                                .d-inline.form-text.with-errors.form-control-feedback.ml-2=errMsg
                            input#i-email.form-control(placeholder='Enter your email' type='text' name='email' required)
                            .pre-icon.os-icon.os-icon-user-male-circle
                        .buttons-w
                            button.btn.btn-success Send me reset link

        include common/footer
    .display-type
include common/scripts
script.
    $(function(){

    })
