include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .auth-box-w.wider.my-5
                    .logo-w(style='padding: 10%')
                        a(href='/')
                            //img(alt='' src='/assets/img/logo-big.png')
                    h4.auth-header
                        | Password Reset Email Sent
                    form
                        .row.justify-content-center
                            | Please Check email to reset your password

        include common/footer
    .display-type
include common/scripts
script.
    $(function(){

    })
