include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .content-box
                    .row
                        .col-sm-6
                            .element-wrapper.pb-1
                                .element-box
                                    #accordionExample.accordion
                                        .card
                                            #headingOne.card-header
                                                h5.mb-0
                                                    button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                        | How do I navigate through the pages?
                                            #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                                                .card-body
                                                    | Select the categories listed on the tabs above to find your best deals for meals at your nearest restaurant, bar or cafe. Sort, filter & refine option helps to organise results according to location, distance, price & cuisine.
                                        .card
                                            #headingTwo.card-header
                                                h5.mb-0
                                                    button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                        | How can I register / log in?
                                            #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                                                .card-body
                                                    | Select the Register button on top of the page to proceed with filling in your personal or business details then Register Now. Log in to retrieve your account and manage your current posts or add new posts.
                                        .card
                                            #headingThree.card-header
                                                h5.mb-0
                                                    button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                        | How do I sell my food on Hungrdeals?
                                            #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                                                .card-body
                                                    | Register/login to an account, fill in the form according to type of seller below.
                                                    br
                                                    br
                                                    | Independent seller: Fill in the form. Upload image(s) or/and write food/drinks for sale/on offer.
                                                    br
                                                    br
                                                    | Corporate seller: Fill in the form. If offer is inapplicable, upload your store’s menu (for restaurant, bar & cafe only). Leave the title, description and items section blank. Create additional ads for food deals/on offer and upload an image and/or type in the listed eateries and drinks for sale.
                                        .card
                                            #headingFour.card-header
                                                h5.mb-0
                                                    button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                                                        | What can I benefit from Hungrdeals?
                                            #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
                                                .card-body
                                                    | -Seller: Expect an increase in number of customers who seeks for everyday offers from your store.
                                                    br
                                                    br
                                                    | -Watcher: To get information of meal deals around you, assist your weekly budget and explore new places & cuisines.

                        .col-sm-6
                            .element-wrapper.pb-1
                                .element-box
                                    .element-info.mb-3
                                        .element-info-with-icon
                                            .element-info-icon
                                                i.os-icon.os-icon-mail-18
                                            .element-info-text
                                                h5.element-inner-header.mb-0
                                                    | Contact Us
                                                .element-inner-desc
                                                    | Any questions or feedback? Please contact us.
                                    form
                                        fieldset.form-group
                                            .row
                                                .col-sm-6
                                                    .form-group
                                                        label(for='')  First Name
                                                        input#i-firstName.form-control(placeholder='First Name' type='text')
                                                .col-sm-6
                                                    .form-group
                                                        label(for='') Last Name
                                                        input#i-lastName.form-control(placeholder='Last Name' type='text')
                                            .row
                                                .col-12
                                                    .form-group
                                                        label(for='') Email
                                                        .input-group
                                                            .input-group-prepend
                                                                .input-group-text
                                                                    i.os-icon.os-icon-email-2-at2
                                                            input#i-email.form-control(placeholder='email' type='email')

                                            .form-group
                                                label  Write a Message
                                                textarea#i-message.form-control(rows='5')
                                            .row.justify-content-end
                                                a#sendBtn.btn.btn-primary
                                                    i.os-icon.os-icon-mail-18
                                                    | &ensp;Send


        include common/footer
    .display-type
include common/scripts
script.
    $(function () {
        $('.accordion').collapse()
        $('#sendBtn').click(function(e){
            e.preventDefault()
            $.ajax({
                url: '/api/mail',
                data: JSON.stringify({
                    email: $('#i-email').val(),
                    message: $('#i-message').val(),
                    firstName: $('#i-firstName').val(),
                    lastName: $('#i-lastName').val(),
                }),
                cache: false,
                contentType: 'application/json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    alert('Your feedback is safely sent to the admin')
                    $('#i-email').val('')
                    $('#i-message').val('')
                    $('#i-firstName').val('')
                    $('#i-lastName').val('')
                },
                error: function (data) {
                    console.log(data)
                }
            });
        })
    })

