include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .auth-box-w.wider.my-5
                    .logo-w(style='padding: 10%')
                        a(href='index.html')
                            //img(alt='' src='/assets/img/logo-big.png')
                    h4.auth-header
                        | Login
                    form(action='/auth/email' method='post')
                        .form-group
                            label(for='i-email') Email
                            input#i-email.form-control(placeholder='Enter your email' type='text' name='email' required)
                            .pre-icon.os-icon.os-icon-user-male-circle
                        .form-group
                            label(for='i-password') Password
                                .d-inline.form-text.with-errors.form-control-feedback.ml-2=errorMessage
                            input#i-password.form-control(placeholder='Enter your password' type='password' name='password' required)
                            .pre-icon.os-icon.os-icon-fingerprint
                        .buttons-w
                            .form-check-inline
                                label.form-check-label
                                    input.form-check-input(type='checkbox')
                                    | Remember Me
                            button.btn.btn-success Log me in
                        .row.justify-content-center.my-4
                            button#facebookLogin.btn.btn-primary.d-flex.justify-content-start(type='button' style='width: 235px')
                                i.fab.fa-facebook-f.mr-1
                                span.ml-4 Sign In with Facebook
                        .row.justify-content-center
                            button#googleLogin.btn.btn-danger.d-flex.justify-content-start(type='button' style='width: 235px')
                                i.fab.fa-google.mr-1
                                span.ml-4 Sign In with Google
                        .row.justify-content-end.my-4
                            button#findPassword.btn.btn-secondary(type="button") Find Password
        include common/footer
    .display-type
include common/scripts
script.
    $(function(){
        $("#facebookLogin").click(function(){
            location.href='/auth/facebook'
        })
        $("#googleLogin").click(function () {
            location.href = '/auth/google'
        })
        $('#findPassword').click(function(){
            location.href = '/auth/password'
        })
    })
