script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='/assets/vendor/popper.js/dist/umd/popper.min.js')
script(src='/assets/vendor/moment/moment.js')
script(src='/assets/vendor/chart.js/dist/Chart.min.js')
script(src='/assets/vendor/select2/dist/js/select2.full.min.js')
script(src='/assets/vendor/jquery-bar-rating/dist/jquery.barrating.min.js')
script(src='/assets/vendor/ckeditor/ckeditor.js')
script(src='/assets/vendor/bootstrap-validator/dist/validator.min.js')
script(src='/assets/vendor/bootstrap-daterangepicker/daterangepicker.js')
script(src='/assets/vendor/ion.rangeSlider/js/ion.rangeSlider.min.js')
script(src='/assets/vendor/dropzone/dist/dropzone.js')
script(src='/assets/vendor/editable-table/mindmup-editabletable.js')
script(src='/assets/vendor/datatables.net/js/jquery.dataTables.min.js')
script(src='/assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js')
script(src='/assets/vendor/fullcalendar/dist/fullcalendar.min.js')
script(src='/assets/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')
script(src='/assets/vendor/tether/dist/js/tether.min.js')
script(src='/assets/vendor/slick-carousel/slick/slick.min.js')
script(src='/assets/vendor/bootstrap/js/dist/util.js')
script(src='/assets/vendor/bootstrap/js/dist/alert.js')
script(src='/assets/vendor/bootstrap/js/dist/button.js')
script(src='/assets/vendor/bootstrap/js/dist/carousel.js')
script(src='/assets/vendor/bootstrap/js/dist/collapse.js')
script(src='/assets/vendor/bootstrap/js/dist/dropdown.js')
script(src='/assets/vendor/bootstrap/js/dist/modal.js')
script(src='/assets/vendor/bootstrap/js/dist/tab.js')
script(src='/assets/vendor/bootstrap/js/dist/tooltip.js')
script(src='/assets/vendor/bootstrap/js/dist/popover.js')
script(src='/assets/vendor/button-loader/jquery.buttonLoader.min.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCodRdvGqSOhTGmLPjM2Cxvx3b2G4wK68Q&libraries=places&language=en')
script(src='/assets/vendor/geocomplete/jquery.geocomplete.min.js')
script(src='/assets/js/jquery.debounce-1.0.5.js')
script(src='/assets/js/quantities.js')
script(src='/assets/js/main.js?version=4.4.0')
script(src='/assets/js/main_rentals.js?version=4.4.0')


