.top-bar.color-scheme-light
    .top-menu-controls.py-3
        .input-group.input-group-lg
            input#i-search.form-control.search-bar(type='text' placeholder="I'm looking for ..." )
            .input-group-append
                button#f-search.btn.btn-grey.px-3.px-lg-5(type='button' style="color: #495057;z-index: 1;")
                    i.fas.fa-search

