include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .content-box
                    .row
                        .col-sm-7.mt-3.mt-lg-0.mx-auto.my-lg-5
                            .element-wrapper.pb-1
                                .element-box
                                    form#f-profile
                                        input#i-profileImage.d-none(type='file' accept="image/x-png,image/gif,image/jpeg" name="profileImage")
                                        .element-actions.d-none.d-sm-block
                                            a#changeProfileImage.btn.btn-light.btn-sm
                                                i.os-icon.os-icon-documents-07
                                                span Change Profile Picture

                                        .element-info.mb-3
                                            .element-info-with-icon
                                                .element-info-icon
                                                    .profile-pic(style="width: 50px; height: 50px;")
                                                        img#profileImage(src=user.profileImage style="object-fit: cover; width: inherit; height: inherit;")
                                                .element-info-text
                                                    h5.element-inner-header.mb-0
                                                        | Profile Settings
                                                    .element-inner-desc
                                                        | You can change your user information here.
                                        .row
                                            if isEmail
                                                .col-sm-6
                                                    .form-group
                                                        label(for='')  Email
                                                        input.form-control(data-error='' value=user.email type='text' readonly)
                                                        .help-block.form-text.with-errors.form-control-feedback
                                            else if isFacebook
                                                .col-sm-6
                                                    .form-group
                                                        label(for='')  Registered With
                                                        input.form-control(data-error='' value='Facebook' type='text' readonly)
                                                        .help-block.form-text.with-errors.form-control-feedback
                                            else if isGoogle
                                                .col-sm-6
                                                    .form-group
                                                        label(for='')  Registered With
                                                        input.form-control(data-error='' value='Google' type='text' readonly)
                                                        .help-block.form-text.with-errors.form-control-feedback
                                            .col-sm-6
                                                .form-group
                                                    label(for='') Name
                                                    input#i-userName.form-control(data-error='Please input your Name' value=user.userName required='required' type='text' name="userName")
                                                    .help-block.form-text.with-errors.form-control-feedback
                                        if isEmail
                                            .row
                                                .col-sm-6
                                                    .form-group
                                                        label(for='')  Current Password
                                                        input#i-password.form-control(data-minlength='6' placeholder='Password' type='password' name='password')
                                                        .help-block.form-text.text-muted.form-control-feedback
                                                            | Minimum of 6 characters
                                                .col-sm-6
                                                    .form-group
                                                        label(for='') New Password
                                                        input#i-password-new.form-control(data-match-error="Passwords don't match" placeholder='Confirm Password' type='password')
                                                        .help-block.form-text.with-errors.form-control-feedback
                                        .row.justify-content-end
                                            button#saveButton.btn.btn-primary.has-spinner(type='submit' data-loading-text="Saving...")  Save
                            //.element-wrapper
                            //    .element-box
                            //        h6.element-header
                            //            | Manage Your Posts
                            //        .timed-activities.compact
                            //            .timed-activity
                            //                .ta-date
                            //                    span October, 2018
                            //                .ta-record-w
                            //                    .ta-record
                            //                        .ta-timestamp
                            //                            strong 10th
                            //                            |  11:55 am
                            //                            strong.badge.badge-success.text-white.ml-1 live
                            //                        .ta-activity.d-flex.justify-content-between
                            //                            span Indian Diwali sweets and snacks
                            //                            div
                            //                                a(href='#') Edit
                            //
                            //                    .ta-record
                            //                        .ta-timestamp
                            //                            strong 8th
                            //                            |  2:34 pm
                            //                            strong.badge.badge-light.ml-1 closed
                            //                        .ta-activity.d-flex.justify-content-between
                            //                            span YOGI Rice Cake and Dumpling Soup
                            //                            div
                            //                                a(href='#') Edit
                            //                    .ta-record
                            //                        .ta-timestamp
                            //                            strong 8th
                            //                            |  2:34 pm
                            //                            strong.badge.badge-light.ml-1 closed
                            //                        .ta-activity.d-flex.justify-content-between
                            //                            span YOGI Rice Cake and Dumpling Soup
                            //                            div
                            //                                a(href='#') Edit
                            //
                            //            .timed-activity
                            //                .ta-date
                            //                    span September, 2018
                            //                .ta-record-w
                            //                    .ta-record
                            //                        .ta-timestamp
                            //                            strong 8th
                            //                            |  2:34 pm
                            //                            strong.badge.badge-light.ml-1 closed
                            //                        .ta-activity.d-flex.justify-content-between
                            //                            span YOGI Rice Cake and Dumpling Soup
                            //                            div
                            //                                a(href='#') Edit
                            //                    .ta-record
                            //                        .ta-timestamp
                            //                            strong 10th
                            //                            |  11:55 am
                            //                            strong.badge.badge-success.text-white.ml-1 live
                            //                        .ta-activity.d-flex.justify-content-between
                            //                            span Indian Diwali sweets and snacks
                            //                            div
                            //                                a(href='#') Edit
                            //            .row
                            //                a.mx-auto(href='#' style='border-bottom: 1px solid #047bf8') Load More

        include common/footer
    .display-type
include common/scripts
script.
    /* Utility function to convert a canvas to a BLOB */
    var dataURLToBlob = function (dataURL) {
        var BASE64_MARKER = ';base64,';
        if (dataURL.indexOf(BASE64_MARKER) == -1) {
            var parts = dataURL.split(',');
            var contentType = parts[0].split(':')[1];
            var raw = parts[1];
            return new Blob([raw], {type: contentType});
        }
        var parts = dataURL.split(BASE64_MARKER);
        var contentType = parts[0].split(':')[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;

        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }
        return new Blob([uInt8Array], {type: contentType});
    }
    /* End Utility function to convert a canvas to a BLOB      */
    function handleImageResize(event) {
        // Read in file
        var file = event.target.files[0];
        // Ensure it's an image
        if (file.type.match(/image.*/)) {
            console.log('An image has been loaded');
            // Load the image
            var reader = new FileReader();
            reader.onload = function (readerEvent) {
                var image = new Image();
                image.onload = function (imageEvent) {
                    // Resize the image
                    var canvas = document.createElement('canvas'),
                        max_size = 300,// TODO : pull max size from a site config
                        width = image.width,
                        height = image.height;
                    if (width > height) {
                        if (width > max_size) {
                            height *= max_size / width;
                            width = max_size;
                        }
                    } else {
                        if (height > max_size) {
                            width *= max_size / height;
                            height = max_size;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                    var dataUrl = canvas.toDataURL('image/jpeg');
                    var resizedImage = dataURLToBlob(dataUrl);
                    $.event.trigger({
                        type: "imageResized",
                        blob: resizedImage,
                        url: dataUrl
                    });
                }
                image.src = readerEvent.target.result;
            }
            reader.readAsDataURL(file);
        }
    };

    $(function () {
        var formData = new FormData($('#f-profile'))

        $("#i-profileImage").change(function (e) {
            handleImageResize(e);
        });
        $('#changeProfileImage').click(function () {
            $('#i-profileImage').click()
        })
        $('#f-profile').submit(function (event) {
            event.preventDefault();
            formData.delete('userName')
            formData.append('userName', $('#i-userName').val())
            formData.delete('password')
            if ($('#i-password').val() !== '') {
                formData.append('password', $('#i-password').val())
            }
            if ($('#i-password-new').val() !== '') {
                formData.append('passwordNew', $('#i-password-new').val())
            }
            $('#saveButton').buttonLoader('start')
            $.ajax({
                url: '/profile',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    console.log(data)
                    $('#saveButton').buttonLoader('stop')
                }
            });
        })

        $(document).on("imageResized", function (event) {
            $('#profileImage').attr('src', event.url);
            formData.delete('profileImage')
            formData.append('profileImage', event.blob);
        });
    })
