include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .auth-box-w.wider.my-5
                    .logo-w(style='padding: 10%')
                        a(href='index.html')
                            //img(alt='' src='/assets/img/logo-big.png')
                    h4.auth-header
                        | Reset Password
                    form#f-email(action='/auth/password/reset' method='post')
                        .row
                            .col-sm-6
                                .form-group
                                    label(for='i-password')  Password
                                    input#i-password.form-control(placeholder='Password' type='password' name='password')
                                    .pre-icon.os-icon.os-icon-fingerprint
                            input(type="hidden" name="token" value=token)
                            .col-sm-6
                                .form-group
                                    label(for='i-password-check') Confirm Password
                                    input#i-password-check.form-control(placeholder='Password' type='password')
                        .buttons-w
                            button.btn.btn-success Reset

        include common/footer
    .display-type
include common/scripts
script.
    $(function(){
        $('#f-email').submit(function (event) {
            var password = $("#i-password").val()
            var reg = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$/;

            if (password.match(reg)) {
            }
            else {
                event.preventDefault();
                alert('Please enter stronger password.');
                $("#i-password").val('')
                $("#i-password-check").val('')
                return
            }
            if ($('#i-password').val() !== $('#i-password-check').val()) {
                event.preventDefault();
                return alert('please check password again')
            }
        })
    })
