include common/head
.all-wrapper.solid-bg-all
    .layout-w
        include common/mobile-menu
        include common/main-menu
        .content-w
            .content-i
                .auth-box-w.wider.my-5
                    .logo-w(style='padding: 10%')
                        a(href='index.html')
                    h4.auth-header
                        | Email Verification
                    form(action='/auth/email' method='post')
                        .row.justify-content-center
                            | We sent you the verification link to your email.
                            br
                            | Please check your spam folder if you didn't get one.
                            button#b-resend.mt-3.btn.btn-primary(type="button") Resend Email

        include common/footer
    .display-type
include common/scripts
script.
    $(function() {
        $('#b-resend').click(function(){
            $.ajax({
                url: '/verification/resend',
                cache: false,
                contentType: 'application/json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    if(data.err){
                        alert(data.err)
                    }else{
                        alert('Email sent.')
                    }
                }})
        })
    })

